@import "/src/variables";

.testimonial-section{
    background-color: $primary-dark-blue-main;
    display: flex;
    justify-content: center;
    padding: 20px 0px 150px 0px;
}

.center-div{
    background-image: url("../../images/bg-quotes.png");
    background-repeat: no-repeat;
    background-position: 0px top;
    display: flex;
    gap: 40px;
    padding-top: 20px;
    padding-left: 10px;
}

@media(max-width:$mobile-breakpoint){
    .testimonial-section{
        padding: 100px 0px 130px 0px;
    }

    .center-div{
     flex-direction: column;
     gap:15px;
    }
  }